<div class="weui-tab slideIn">
	<div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="http://www.join-clima.com">
            <div class="weui-cell__bd">
                <p>兆晶官网</p>
           	</div>
          	<div class="weui-cell__ft"></div>
        </a>
        <a class="weui-cell" href="javascript:;">
            <div class="weui-cell__bd">
                <p>电话</p>
           	</div>
          	<div class="weui-cell__ft"><a class="tel" href="tel:02038390949">02038390949</a></div>
        </a>
    </div>
</div>
